/* Body Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #1c1e24 0%, #2c2f36 100%);
    color: white;
    font-family: 'Orbitron', sans-serif;
}

/* Header Styles */
.header {
    width: 100%;
    text-align: center;
    background-color: #343a40;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
}

/* Team Input Styles */
.team-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.team-inputs label {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
}

.team-inputs input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
}

.cn {
    font-size: 1.2em;
    padding: 15px 30px;
    background-color: #17B169;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cn:hover {
    background-color: #128c4f;
}

/* Scoreboard Styles */
.scoreboard-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 
}

.team {
    text-align: center;
    margin: 20px;
}

.team-name {
    font-size: 3em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #17B169;
    animation: fadeIn 1s ease-in-out;
}

.score {
    font-size: 4em;
    margin-bottom: 20px;
    color: #FFD700;
    animation: fadeIn 1s ease-in-out;
}

.btt, #decrement {
    font-size: 1.5em;
    padding: 15px;
    background-color: #343a40;
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btt:hover, #decrement:hover {
    background-color: #495057;
    transform: scale(1.1);
}

.reset-button {
    background-color: #c62121;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #a81818;
}

/* Error Message Styles */
.error-message {
    display: none;
    background-color: #8B0000;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out;
}

/* Footer Styles */
.footer { 
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.footer h6 {
    margin: 0;
    font-size: 1em;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
