body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1e24;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.scoreboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 
}

.team {
    text-align: center;
    margin: 20px;
}

.team-name {
    font-size: 5em;
    margin-bottom: 10px;
}

.score {
    font-size: 4em;
    margin-bottom: 20px;
}

.btt {
    font-size: 1.5em;
    font-family: "Kode Mono", monospace;
    padding: 15px;
    background-color: #17B169;
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    border-radius: 5px;
    margin-right: 5px;    
}

#decrement {
    background-color: #c62121;
    font-size: 1.5em;
    padding: 15px;
    font-family: "Kode Mono", monospace;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
    margin-left: 5px;
    width: 50px;
}


.cn {
    font-size: 1.5em;
    padding: 15px;
    background-color: #17B169;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;    
}



.team1Name {

    background-color: #c62121;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    width: 500px;
}

.team2Name {

    background-color: #c62121;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    width: 500px;
}


.reset-button {

    background-color: #c62121;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    bottom: 110px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    width: 500px;
}


.error-message {
    display: none;
    background-color: #8B0000;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.header {
    position: fixed;
    margin-bottom: 450px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.footer { 
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.footer h6 {
    margin: 0;
    font-size: 1.0em;
}
