body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.scoreboard-container {
    display: flex;
    flex-direction: row;
}

.team {
    text-align: center;
    margin: 20px;
}

.team-name {
    font-size: 5em;
    margin-bottom: 10px;
}

.score {
    font-size: 4em;
    margin-bottom: 20px;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #17B169;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

button.decrement {
    background-color: #c62121; 
}


.reset-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #c62121;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

.error-message {
    display: none;
    background-color: #8B0000;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 5px;
}



.header {
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    position: absolute;
    top: 20px; /* Distanza dall'alto */
    left: 50%; /* Centro orizzontalmente */
    transform: translateX(-50%); /* Correggi la centratura usando translateX */
}


.ferdinando {
    position: fixed;
    bottom: 20px; /* Distanza dal basso */
    right: 20px; /* Distanza da destra */
    text-align: center;
}

.ferdinando h6 {
    margin: 0;
    font-size: 2em;
}
